.CardDiv{
     margin-left: 25%; 
    margin-top: 3%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: solid;
    border-width: 1px;
    border-radius: .8rem;
    width: 50%;
    border-color: rgb(191, 191, 191);
    background-image: linear-gradient(to right ,white,rgb(247, 247, 255));
    
}