.image-container{ 
    background-image: url('../../Global-Componets/background-blue-white.jpg');
    background-repeat: no-repeat;
    background-position: right top; 
    background-attachment: fixed; 
    height: auto;
    margin-top: -.6rem;
}
.heading-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 12vh;
}
.year-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.dateinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;  
}
.table-container{
    margin: 1rem;
}
.reportDownloadBTn {
    border: solid;
    border-width: 1px;
    border-color: #04aa6d77;
    color: #04aa6d91;
    background-color: white;
    font-family: 'Product sans';
    font-size: 10px;
    height: 25px;
    width: 130px;
    border-radius: 2rem; 
    margin: 1rem; 
}

.reportDownloadBTn:hover{
    background-color: #04AA6D;
    color: white;
    border-color: white; 
}