.mainDivv{
    font-weight: bold;
    font-size: 20px;
}

.hrelement{
    opacity: 50%;
}

.subDivvA{
    
    width: 150px;
    margin-left: 500px;
    margin-top: -23px;
}
.subDivvP{
    
    width: 150px;
    margin-left: 300px;
    margin-top: -25px;
}
.subDivvH{
    
    width: 150px;
    margin-left: 100px;
    margin-top: 15px;
    padding-top: 10px;
}
.logoutDiv{
    width: 100px;
    margin-left: 90%;
    margin-top: -30px;
}
.logoutBtn{
    width: 110px;
    height: 33px;
    font-family: 'product sans';
    text-align: center;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: rgb(255, 90, 61);
    color: white;
    border-radius: .5rem;
}
.logoutBtn:hover{
    background-color: rgb(179, 70, 51);
    cursor: pointer;
}