.MainDiv{
    background-image: url('../../Global-Componets/background-blue-white.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; 
}
.subDiv{
    padding-top: 20%;
    margin-left: 20%;
}

.MainForm{
    border: solid;
    border-width: 1px;
    width: 500px;
    height: 250px;
}
.Mainh1{
    margin-left: 5%;
}
.inputfielddiv{
    margin-left: 5%;
    margin-top: 2%;
    height: 50px;
}

.inputfield{
    font-family: 'product sans';
    height: 40px;
    width: 400px;
    border-radius: .5rem;
    border: solid;
    border-width: 1px;
    border-color: rgb(162, 162, 162);
    padding-left: 5%;
    
}
.Mainlabel{
    color: rgb(150, 150, 150);
}

.Mainbtn{
    margin-left: 65%;
    width: 100px;
    border: solid;
    border-radius: .5rem;
    border-width: 1px;
    background-color: rgb(56, 116, 255);
    color: white;
    font-family: 'product sans';
    height: 30px;
}
.Mainbtn:hover{
    cursor: pointer;
    background-color: rgb(47, 100, 223);
}
.downlabeldiv{
    font-size: 14px;
    margin-left: 62%;
    margin-top: 5%;
}

.downlabel{
    color: gray;
}

.downspan{
    color: blue;
    text-decoration: underline;
}