.WelcomebackgroundDiv{
    background-image: url('../../Global-Componets/background-blue-white.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
}
.headingh1{
    height: 500px;
    width: 800px;
    text-align: center;
    padding-top: 200px;
}