.WelcomebackgroundDiv{
    background-image: url('../../Global-Componets/background-blue-white.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;  
}

.headingh1{
    height: 500px;
    width: 800px;
    text-align: center;
    padding-top: 200px;
}

.message{
    border: solid;
    border-width: 1px;
    width: 320px;
    margin-left: 30%;
    text-align: center;
    padding-top: 5px;
    font-weight: lighter;
    border-radius: .5rem;
    font-size: 15px;
    height: 30px;
    background-color: rgb(237, 246, 255);
    
}
.ComleteNow{
    color: blue;
    text-decoration: underline;
}
.ComleteNow:hover{
    cursor: pointer;
}
.labelText{
    
    
}

.verifyDiv{
    margin-top: 2%;
    width: 150px;
    margin-left: 40%;
    height: 40px;
}

.verifyBtn{
    border: solid;
    border-width: 1px;
    text-align: center;
    font-family: 'product sans';
    width: 100px;
    height: 25px;
    background-color: rgb(87, 193, 87);
    border-color: rgb(36, 151, 36);
    color: aliceblue;
    border-radius: .8rem;
    
}
.verifyBtn:hover{
    cursor: pointer;
    background-color: rgb(60, 146, 60);

}
